    <table>
    	<thead>
    		<th colspan='3'> Search Twitter </th>
    	</thead>
    <tr>
    <!--	<td>
      <form action='/post' method="post">
     	  <input type="text" name="tweet" placeholder="Enter new tweet" />
     	  <input type="submit" value="Tweet" />
      </form>
      </td> -->
        <form action='/sinattr' method="post">
          <td><input type="text" name="what" placeholder="Tweets about..." /></td>
          <td><input type="text" name="location" placeholder="Near..." /></td>
          <td><input type="text" name="radius" placeholder="Mile radius..." /></td>
    </tr><tr>
     	    <td colspan="3"><input type="submit" value="Search" /></td>
        </form>
    </tr>
    </table>

<% if @tweets %>
  <%= erb :tweets %>
<% end %>
